.card {
  padding: 1rem;
  margin: 1rem 1.5rem;
  background: var(--white);
  border-radius: 10px;

  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.card__description span {
  display: block;
  font-weight: 700;
  color: var(--orange);
}

.card__description h3 {
  color: var(--blue);
  margin-block: 0.5rem;
}

.card__description p {
  font-size: 0.875rem;
}

.card__picture img {
  width: 100%;
}

.card__actions {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.card__actions button {
  background: transparent;
  border: none;
  line-height: 0;
}

.card__more a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  padding: 0.75rem 1rem;
  background: var(--orange);
  color: var(--white);
  font-weight: 700;
}

@media (min-width: 480px) {
  .card {
    grid-template-columns: 1fr 9.5rem;
    grid-template-rows: 1fr 3rem;
  }
}