.news {
  background: var(--white);
}

.news .container {
  padding: 1.5rem;

  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1.5rem;
}

.news h4 {
  font-weight: 500;
  background: var(--blue-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
}

.news p {
  font-weight: 300;
}

.news form {
  border-radius: 24px;
  background: var(--blue-gradient);
  width: 100%;
}

.news div {
  background: var(--white);
  padding: 0.625rem 1.5rem;
  margin: 1px;
  border-radius: 24px;

  display: flex;
  align-items: center;
  gap: 0.625rem;
}

.news div img {
  display: block;
}

.news div input {
  width: 100%;
  color: var(--blue);
  border: none;
  outline: none;
}

.news div input::placeholder {
  background: var(--blue-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 1;
}