.releases header {
  background: var(--white);
  padding-block: 1.25rem 0.5rem;
  text-align: center;
}

.releases header h2 {
  color: var(--orange);
  font-size: 1.125rem;
  text-transform: uppercase;
}

.swiper {
  width: 100%;
  max-width: 50rem;
  height: auto;
  overflow: hidden;
}

.swiper-slide img {
  width: 100%;
  height: auto;
}

.swiper-button-prev,
.swiper-button-next {
  display: none;
}

.swiper-pagination {
  position: initial;
  margin-block: 0.5rem 0.75rem;
}

@media (min-width: 530px) {
  .swiper-button-prev,
  .swiper-button-next {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 3rem;
    height: 3rem;

    border-radius: 50%;

    background: var(--blue-gradient);
  }
  
  .swiper-button-prev::after,
  .swiper-button-next::after {
    font-size: 1.5rem;
    color: var(--white);
  }
}