.releases header {
  background: var(--white);
  padding-block: 1.25rem 0.5rem;
  text-align: center;
}

.releases header h2 {
  color: var(--orange);
  font-size: 1.125rem;
  text-transform: uppercase;
}

.swiper {
  width: 100%;
  height: auto;
}

.swiper-slide img {
  width: 100%;
  height: auto;
}

.swiper-button-prev,
.swiper-button-next {
  display: none;
}

.swiper-pagination {
  position: initial;
  margin-block: 0.5rem 0.75rem;
}